- hosts: all
  vars_files:
    - vars/vars.yml
  tasks:
    - ansible.builtin.apt:
        name: acl
        state: present
      become: true

    - ansible.builtin.user:
        name: "{{ service_user }}"
        system: true
        state: present
      become: true

    - ansible.builtin.copy:
        src: "{{ playbook_dir }}/../docker/"
        dest: "{{ docker_dir }}"
        mode: "{{ file_mode }}"
        directory_mode: "{{ directory_mode }}"
      become: true

    - ansible.builtin.file:
        path: "{{ prometheus_dir }}"
        state: directory
        mode: "{{ directory_mode }}"
      become: true

    - ansible.builtin.template:
        src: "{{ playbook_dir }}/../prometheus/prometheus.yml.j2"
        dest: "{{ prometheus_dir }}/prometheus.yml"
        mode: "{{ file_mode }}"
      become: true

    - ansible.builtin.include_role:
        name: geerlingguy.docker
        apply:
          become: true
      vars:
        docker_users:
          - "{{ service_user }}"

    - community.docker.docker_compose_v2:
        project_src: "{{ docker_dir }}"
        state: absent
      become: true
      become_user: "{{ service_user }}"

    - community.docker.docker_compose_v2:
        project_src: "{{ docker_dir }}"
      become: true
      become_user: "{{ service_user }}"
